# S&P 2019 Data Exploration Stage

**by Marc Angelo Acebedo**

# Table of Contents
- [Introduction](#introduction)
- [Data Setup & Overview](#setup)
- [Exploration](#explore)
    - [Univariate](#uni)
    - [Bivariate](#bi)
    - [Multivariate](#multi)


# I) Introduction <a id = "introduction"> </a>


- I kept features in separate CSVs because date formats differ. `eps_fc` and `eps_act`

## II) Data Setup & Overview<a id = "setup"></a>

In [2]:
#import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline
plt.style.use('bmh')

In [3]:
#define data directories
PATH_CLEAN = './data/clean/'
PATH_CLEAN_AVGS = './data/clean/averages/'

In [4]:
#define visuals destination
PATH_VISUALS = './visuals/'

**Import features and all averages**

In [19]:
features = pd.read_csv(PATH_CLEAN + 'features.csv', low_memory = False)
avgs = pd.read_csv(PATH_CLEAN_AVGS + 'avgs.csv')

In [6]:
#import firm_ids for foreign key references
firm_ids = pd.read_csv(PATH_CLEAN + 'firms.csv')

## III) Exploration <a id="explore"> </a>

### A) Univariate <a id = "uni"></a>

**Missing Values (features)**

In [20]:
features

        firm_id  feature        date    term    value
0             0  eod_act  1999-03-31  1999Q1      NaN
1             0  eod_act  1999-06-30  1999Q2      NaN
2             0  eod_act  1999-09-30  1999Q3      NaN
3             0  eod_act  1999-12-31  1999Q4  52.0909
4             0  eod_act  2000-03-31  2000Q1  70.0721
5             0  eod_act  2000-06-30  2000Q2  49.6906
6             0  eod_act  2000-09-29  2000Q3  32.9726
7             0  eod_act  2000-12-29  2000Q4  36.8889
8             0  eod_act  2001-03-30  2001Q1  20.7050
9             0  eod_act  2001-06-29  2001Q2  21.8975
10            0  eod_act  2001-09-28  2001Q3  13.1722
11            0  eod_act  2001-12-31  2001Q4  19.2092
12            0  eod_act  2002-03-28  2002Q1  23.5550
13            0  eod_act  2002-06-28  2002Q2  15.9347
14            0  eod_act  2002-09-30  2002Q3   8.7994
15            0  eod_act  2002-12-31  2002Q4  12.1009
16            0  eod_act  2003-03-31  2003Q1   8.8601
17            0  eod_act  2003-06-30  2003Q2  13.1722
18            0  eod_act  2003-09-30  2003Q3  14.8971
19            0  eod_act  2003-12-31  2003Q4  19.7010
20            0  eod_act  2004-03-31  2004Q1  21.3114
21            0  eod_act  2004-06-30  2004Q2  19.7280
22            0  eod_act  2004-09-30  2004Q3  14.5332
23            0  eod_act  2004-12-31  2004Q4  16.2379
24            0  eod_act  2005-03-31  2005Q1  14.9577
25            0  eod_act  2005-06-30  2005Q2  15.5102
26            0  eod_act  2005-09-30  2005Q3  22.0660
27            0  eod_act  2005-12-30  2005Q4  22.4298
28            0  eod_act  2006-03-31  2006Q1  25.3001
29            0  eod_act  2006-06-30  2006Q2  21.2642
...         ...      ...         ...     ...      ...
167630      504  eps_act         NaN  2012Q3   0.3200
167631      504  eps_act         NaN  2012Q4  -0.0200
167632      504  eps_act         NaN  2013Q1   0.2800
167633      504  eps_act         NaN  2013Q2   0.2600
167634      504  eps_act         NaN  2013Q3   0.2600
167635      504  eps_act         NaN  2013Q4   0.2100
167636      504  eps_act         NaN  2014Q1   0.3100
167637      504  eps_act         NaN  2014Q2   0.2700
167638      504  eps_act         NaN  2014Q3   0.3300
167639      504  eps_act         NaN  2014Q4   0.2500
167640      504  eps_act         NaN  2015Q1   0.3300
167641      504  eps_act         NaN  2015Q2  -0.0700
167642      504  eps_act         NaN  2015Q3   0.3800
167643      504  eps_act         NaN  2015Q4   0.0400
167644      504  eps_act         NaN  2016Q1   0.4100
167645      504  eps_act         NaN  2016Q2   0.4500
167646      504  eps_act         NaN  2016Q3   0.4800
167647      504  eps_act         NaN  2016Q4   0.3100
167648      504  eps_act         NaN  2017Q1   0.4800
167649      504  eps_act         NaN  2017Q2   0.5000
167650      504  eps_act         NaN  2017Q3   0.6100
167651      504  eps_act         NaN  2017Q4   0.1700
167652      504  eps_act         NaN  2018Q1   0.7200
167653      504  eps_act         NaN  2018Q2   0.7900
167654      504  eps_act         NaN  2018Q3   0.7200
167655      504  eps_act         NaN  2018Q4   0.7200
167656      504  eps_act         NaN  2019Q1   0.6500
167657      504  eps_act         NaN  2019Q2   0.7700
167658      504  eps_act         NaN  2019Q3   0.9100
167659      504  eps_act         NaN  2019Q4      NaN

[167660 rows x 5 columns]

**Missing Values (averages)**

## IV) Bivariate Exploration<a id = "bi"></a>

## V) Multivariate Exploration <a id="multi"></a>