## Table of Contents
- [Introduction](#introduction)
- [Data Wrangling](#wrangling)
    - [Gather](#gather)
    - [Assess](#assess)
    - [Clean](#clean)
    - [Analyze](#analyze)
    - [Visualize](#visualize)
- [Conclusions](#conclusions)

In [1]:
PATH = './data/'

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

## I) Introduction <a id = "introduction">

**Aim:** Analyze absolute difference and (possibly) margin of error between stock market forecast of price returns and actual stock market price returns.

I will be analyzing quarterly price returns within the past 20 years for the firms present in the S&P 500 2019 Index.

> At first, I wanted to analyze the forecasted vs. actual price earnings of the S&P in its entirety for the past 20 years. However, considering that firms continuously enter and leave stock indices every year, there would be varying levels of inconsistencies and marginal errors when comparing annual S&P returns alone. To combat this problem, I have isolated these two approaches:
- Analyze the historical earnings of *only* the firms present in the S&P 2019 Index
- Keep track of all firms that were present in the S&P for the past 20 years. Keep track of how many times each firm appeared in the Index and for those with the least count, analyze them individually on how they differ from the firms that stayed for longer.


## II) Data Wrangling <a id="wrangling"></a>

To gather the data depicted under the `./data` folder, I used Bloomberg Excel functions.

### A) Gather <a id = "gather"></a>
> **APPROACH 1:** Focus on the firms that appear in the 2019 S&P Index and analyze their forecasted vs. actual price earnings for the last 20 years.

To ensure consistency in analysis among multiple firms, I divide both the forecasted and actual price earning dates by *calendar period* instead of fiscal period. This is because fiscal period differs by firm whereas calendar period is consistent by dates. 

#### Through the Bloomberg Excel functions, I gathered four datasets with different purposes:

- historical forecasted EPS
- historical actual EPS
- historical actual EOD price
- historical forecasted EPS relying on terms

---
Before delving into the data, let's define what above terms:

**EPS**

> EPS stands for ***Estimated Price Earnings.*** The formal definition of EPS given by Investopedia is this:

Earnings per share is the portion of a company's profit that is allocated to each outstanding share of a common stock, serving as an indicator of the company's financial health.

In other words, the EPS is a portion of the company's **net income** after all of their dividends are paid off. Dividends are profits that are paid out to shareholders of the company. EPS is one of the most useful and valuable financial measurements because they ***determine a stock's worth.*** The higher the stock, the more the company can pay out dividends to its shareholders, and the more net profit they are determined to generate.

$$ EPS = \frac{Net Income - Preferred Dividends}{Weighted Average Common Shares Outstanding}\$$

**EOD**

> EOD stands for the ***End of Day*** price. For any given day, the EOD marks the ***price at which the stock was valued*** at the end of the day's trading period.

---

### Now let's summarize the contents of the following DataFrames:
> All DataFrames consist of the 505 firms found in the 2019 S&P Index with EPS and EOD data encompassing 20 years: from January 1999 until the December 2019.

**Historic forecasted EPS**
> According to Investopedia, consensus estimates is normally an average or median of all the forecasts from individual analysts tracking a particular stock. In this case, the consensus estimate is for ***EPS for each firm present in the index as of 2019.*** Forecasted EPS is calculated by ***quarterly earnings,*** usually by each firm's fiscal period. Estimates of quarterly earnings are published at the beginning of each quarterly period.

**Historic actual EPS**
> Unlike forecasted EPS, actual EPS are the real numbers denoting Earnings-per-Share for a singular firm. Historic actual EPS will be compared to forecasted EPS to draw correlations and comparisons.

**Historic actual EOD**
> Though this is not directly related to EPS data, EOD is a usual metric to have when exploring additional questions. The historic actual EOD 

**Historic forecasted EPS 3 months prior**

In [4]:
#historic forecasted EPS 
df_eps_fc = pd.read_csv(PATH + 'sp-eps-fc.csv')

#historic actual EPS
df_eps_act = pd.read_csv(PATH + 'sp-eps-act.csv')

#historic actual EOD
df_eod_act = pd.read_csv(PATH + 'sp-eod-act.csv')

#historic forecasted EPS with terms
df_eps_fc_terms = pd.read_csv(PATH + 'sp-eps-fc-terms.csv')

## B) Assess

In [5]:
dict_dfs = {'eps_fcast' : df_eps_fc,
           'eps_actual' : df_eps_act,
           'eod_actual' : df_eod_act,
           'eps_fcast_terms' : df_eps_fc_terms}



# CUTOFF

### Historic Forecasted EPS

In [3]:
df_eps_fc.sample(5)

,Term Forecasted,A UN Equity,AAL UW Equity,AAP UN Equity,AAPL UW Equity,ABBV UN Equity,ABC UN Equity,ABMD UW Equity,ABT UN Equity,ACN UN Equity,...,XEL UW Equity,XLNX UW Equity,XOM UN Equity,XRAY UW Equity,XRX UN Equity,XYL UN Equity,YUM UN Equity,ZBH UN Equity,ZION UW Equity,ZTS UN Equity
71,16Q4,0.521,0.919,1.085,1.656,1.197,1.228,0.190,0.646,1.300,...,0.437,0.520,0.704,0.650,1.004,0.649,0.734,2.136,0.521,0.453
47,10Q4,0.599,-0.321,0.544,0.586,NaN,0.482,-0.102,1.291,0.636,...,0.309,0.449,1.631,0.500,NaN,NaN,0.598,1.189,NaN,NaN
64,15Q1,0.407,1.704,2.483,2.596,0.851,0.971,0.018,0.419,1.199,...,0.493,0.610,0.829,0.573,NaN,0.313,0.719,1.583,NaN,0.365
7,00Q4,NaN,NaN,NaN,0.022,NaN,NaN,-0.180,0.479,NaN,...,0.470,0.211,0.647,0.198,NaN,NaN,0.198,NaN,0.758,NaN
6,00Q3,NaN,NaN,NaN,0.031,NaN,NaN,NaN,0.419,NaN,...,0.723,0.189,0.571,0.148,NaN,NaN,0.181,NaN,0.731,NaN

In [4]:
df_eps_fc.shape

(84, 506)

**Observation:** There are 505 firms encompassing 84 quarterly forecast periods since 1999.

> Since there are 4 quarters in a year, 84 quarterly forecast periods equate to 21 years. This is correct since we are analyzing the years from 1999 until the end of 2019.

In [5]:
#number of rows with missing data
df_eps_fc.isna().sum().max()

82

**Observation:** There are 82 rows with missing data. Most of the entries for each quarterly forecast period is incomplete. Out of 84 rows, ***only two*** quarterly calendar periods contain complete data across all firms.

In [6]:
#check for rows where all columns are NaN values.
columns_to_check = df_eps_fc.columns[2:]
df_eps_fc[columns_to_check].isnull().apply(lambda x: all(x), axis = 1).value_counts()

False    84
dtype: int64

In [7]:
#check for columns where all rows are NaN values.
df_eps_fc[columns_to_check].isnull().apply(lambda x: all(x), axis = 0).value_counts()

False    504
dtype: int64

**Observations:**
- No quarterly calendar period is empty of data for all firms.
- No firm is empty of data for all calendar periods.

This means that for historical forecasted EPS, ***no singular calendar period has completely missing data across all firms, and
no singular firm has completely missing data across an entire calendar period.***

### Historic Actual EPS

In [6]:
#generate 10 random samples 
df_eps_act.sample(5)

,Quarter,Year,A UN Equity,AAL UW Equity,AAP UN Equity,AAPL UW Equity,ABBV UN Equity,ABC UN Equity,ABMD UW Equity,ABT UN Equity,...,XEL UW Equity,XLNX UW Equity,XOM UN Equity,XRAY UW Equity,XRX UN Equity,XYL UN Equity,YUM UN Equity,ZBH UN Equity,ZION UW Equity,ZTS UN Equity
67,Q4,2015,0.42,5.240000,0.75,1.970000,0.93,1.710,2.40,0.51,...,0.410000,0.52,0.67,0.268807,1.011072,0.636516,0.64,0.624693,0.43,0.04
71,Q4,2016,0.38,0.560000,0.84,1.680000,0.85,0.660,0.26,0.53,...,0.445745,0.57,0.41,0.460000,-3.350000,0.278707,0.84,0.347305,0.61,0.31
30,Q3,2006,0.55,0.070000,0.56,0.078571,NaN,0.290,-0.17,0.47,...,0.550000,0.23,1.79,0.320000,2.200000,NaN,0.43,0.760000,1.45,NaN
7,Q4,2000,0.67,0.310000,NaN,0.037143,NaN,0.135,-0.17,0.49,...,0.400000,1.47,0.75,0.200000,NaN,NaN,0.22,NaN,0.76,NaN
51,Q4,2011,0.83,-3.268657,0.92,1.018571,NaN,0.550,-0.05,1.02,...,0.290000,0.61,1.97,0.286880,1.080000,0.278671,0.77,0.880000,0.24,NaN

In [9]:
df_eps_act.shape

(84, 507)

**Observation:** There are 505 firms encompassing 84 calendar periods.

In [10]:
#number of rows with missing data
df_eps_act.isna().sum().max()

84

**Observation:** All quarterly calendar periods contain incomplete data across all firms.

In [11]:
#check for rows where all columns are NaN values.
columns_to_check = df_eps_act.columns
df_eps_act[columns_to_check].isnull().apply(lambda x: all(x), axis = 1).value_counts()

False    84
dtype: int64

In [12]:
#check for columns where all rows are NaN values.
df_eps_act[columns_to_check].isnull().apply(lambda x: all(x), axis = 0).value_counts()

False    506
True       1
dtype: int64

**Observations:** 

- there is no calendar period that's empty of data for all firms.
- there is no firm that's empty of data for all calendar periods.

**Therefore, all calendar periods and firms have data for historical end of day stock price.**

In [14]:
#count how many rows have isolated data
df_eps_act.duplicated().sum()

0

**Observation:** There is no duplicated data among all firms for all calendar periods in `df_eod`.

In [ ]:
#count number of repeated firm names
df_eod.columns.duplicated().sum()

In [7]:
df_eod_act.sample(10)

,date,A UN Equity,AAL UW Equity,AAP UN Equity,AAPL UW Equity,ABBV UN Equity,ABC UN Equity,ABMD UW Equity,ABT UN Equity,ACN UN Equity,...,XEL UW Equity,XLNX UW Equity,XOM UN Equity,XRAY UW Equity,XRX UN Equity,XYL UN Equity,YUM UN Equity,ZBH UN Equity,ZION UW Equity,ZTS UN Equity
79,12/31/2018,67.4600,32.11,157.460,157.7400,92.19,74.4000,325.04,72.3300,141.01,...,49.27,85.1700,68.1900,37.2100,19.7600,66.72,91.9200,103.72,40.740,85.54
17,6/30/2003,13.1722,NaN,20.300,1.3657,NaN,16.8232,5.47,19.5843,18.09,...,NaN,25.3100,35.9100,20.4500,27.9003,NaN,10.6276,45.05,50.610,NaN
69,6/30/2016,44.3600,28.31,161.630,95.6000,61.91,79.3200,109.29,39.3100,113.29,...,NaN,46.1300,93.7400,62.0400,25.0023,44.65,59.6240,120.38,25.130,47.46
25,6/30/2005,15.5102,NaN,43.033,5.2586,NaN,16.7747,8.55,23.4500,22.67,...,NaN,25.5000,57.4700,27.0000,36.3310,NaN,18.7242,76.17,73.530,NaN
4,3/31/2000,70.0721,NaN,NaN,4.8504,NaN,3.6388,20.25,15.7478,NaN,...,NaN,82.8125,38.9063,9.4583,68.4994,NaN,5.5839,NaN,41.625,NaN
10,9/28/2001,13.1722,NaN,NaN,1.1079,NaN,17.2114,17.47,23.2049,12.75,...,NaN,23.5300,39.4000,15.3133,20.4181,NaN,7.0503,27.75,53.660,NaN
78,9/28/2018,70.5400,41.33,168.330,225.7400,94.58,92.2200,449.75,73.3600,170.20,...,47.21,80.1700,85.0200,37.7400,26.9800,79.87,90.9100,131.47,50.150,91.56
77,6/29/2018,61.8400,37.96,135.700,185.1100,92.65,85.2700,409.05,60.9900,163.59,...,45.68,65.2600,82.7300,43.7700,24.0000,67.38,78.2200,111.44,52.690,85.19
32,3/30/2007,24.0913,NaN,38.550,13.2729,NaN,25.5927,13.66,26.6988,38.54,...,NaN,25.7300,75.4500,32.7500,44.4983,NaN,20.7663,85.41,84.520,NaN
30,9/29/2006,22.0256,NaN,32.940,11.0043,NaN,21.9296,14.79,23.2347,31.71,...,NaN,21.9500,67.1000,30.1100,40.9943,NaN,18.7134,67.50,79.810,NaN

### All Data

In [27]:
#count how many rows have isolated data
#count number of repeated firm names

**Observation:** There are no duplicated firms in `df_eod`.

### Quality

**Missing Data**

-  N/A
--- 

- firm names across both DataFrames are capitalized


### Tidiness

- both DataFrames need to be merged with firm names transposed into rows

## C) Cleaning

# III) Store Data